
.scroll-container {
  height: 90%;
  max-height: 600px;
  overflow-y: auto;
  position: relative;
}

.addTablebutton {
  background-color: white; /* Green */
  border: none;
  color: dark;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border: 1px solid gray  ;
  cursor: pointer;
}
.addTablebutton:hover {
  background-color: rgb(197, 195, 195); /* Darker green on hover */
}